<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <address>
                {{message}} 
                <a class="email" href={{email}}>my email address</a>
            </address>
            <address>
        </div>
        {{>footer}}
    </body>
</html>